$black: #0D0F13
$gray: #7C8697
$dark-gray: #353E54
$white: #FAF9F9
$red: #A12525
$green: #A2BD51
$blue: #60AEBA
$font-sans: 100% Helvetica, sans-serif
$font-serif: 100% Times New Roman, serif
$font-georgia: 100% Georgia, Times New Roman, serif
$font-impact: 100% Impact, Helvetica
$title-height: 12vh
//
//@mixin card($color)
//    .card-header
//        font: $font-georgia
//        font-size: 1.5vw
//    .card-body
//        font: $font-serif
//        font-size: 1vw
//    .card-footer
//        font: $font-georgia
//        font-style: italic
//        font-size: 1vw
//        text-align: right
//    &:hover
//        background-color: rgba($color, .5)
//    background-color: rgba($color, .27)
//    color: $black
//
body
    padding: 0
    margin: 0
    font: $font-impact

//.content
//    margin: 5% 40%
//
.navbar-route
    font: $font-sans
    border-radius: 0
    width: 15vw
    background-color: $dark-gray
//
//.plain-text.big
//    font-size: 10vh
//
//.plain-text.medium
//    font-size: 2vh
//
//.button.regular.standard, .button.regular.standard:focus, .button.regular.standard:active
//    background-color: $dark-gray
//    font-size: 3vh
//
//.button.regular.standard:hover
//    background-color: $blue
//
//.card.interaction.regular.info
//    @include card($gray)
//
//.card.interaction.regular.danger
//    @include card($red)
//
//.card.interaction.regular.success
//    @include card($green)
//

//
.navigation
    height: 100-$title-height
    background-color: $dark-gray

.title
    border-radius: 0
    height: $title-height
    background-color: $gray
    color: $white
    font: $font-impact
    display: flex
    padding-left: 1%
    align-items: center

.fs-big
    font-size: 10vh

.bg-dark-gray
    background-color: $dark-gray
